@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: ChronoType;
    src: url("/fonts/ChronoType.ttf");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

body {
    font-size: 160%;
    color-scheme: dark;
}

.retro {
    --border-width: 4px;
    clip-path: polygon(0 var(--border-width), var(--border-width) var(--border-width), var(--border-width) -.5em, calc(100% - var(--border-width)) -.5em, calc(100% - var(--border-width)) var(--border-width), 100% var(--border-width), 100% calc(100% - var(--border-width)), calc(100% - var(--border-width)) calc(100% - var(--border-width)), calc(100% - var(--border-width)) 100%, var(--border-width) 100%, var(--border-width) calc(100% - var(--border-width)), 0 calc(100% - var(--border-width)));
}
.retro-inset-br {
    box-shadow: inset -4px -4px 0 var(--tw-shadow-color);
}