@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: ChronoType;
    src: url("/fonts/ChronoType.ttf");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

body {
    font-size: 160%;
    color-scheme: dark;
}
